.greeting{
    color: wheat;
    text-align: start;
    padding-left: 25px;
    margin-bottom: 20px;
    font-size: 30px;
}
.cargando{
    font-size: 3vw;
    color: gold;
    margin-top: 10vw;
}

.btnResta{
    color: rgb(200, 50, 50);
    font-size: 20px;
    height: 25px;
}
.btnSuma{
    color: rgb(0, 150, 0);
    font-size: 20px;
    height: 25px;
}
.btnAgrega{
    color: white;
    font-size: 20px;
    height: 25px;
    width: 40px;
}
.muestraCantidad{
    font-weight: bolder;
    font-size: 20px;
    font-style: italic;
    
}
