*{
    margin: 0;
    padding: 0;
}

.Cartas{
    width: 250px;
    height: 350px;
    border: 2px solid gold;
    color: white;
    margin: 13px;
    display: flex;
    flex-direction: column;
}
.FotoProducto{
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.contenedorCartas{
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    margin: auto 20px;
    justify-content: center;

}
.cantidadAgregar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 15px;
    font-size: 15px;
}

.nombrePrecio{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
    color: gold;
    margin: 6px 0;
}

.banderas{
    font-size: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
}
.banderas img{
    height: 10px;
    width: 40px;
}
.muestraCantidad{
    font-size: 88px;
    font-weight: bolder;
}