@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

#LogoBrand{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 5vw;
}

.imgLogo{
    height: 10vh;
    padding-top: 3vh;
}

.brand{
    font-family: 'Satisfy', cursive;
    font-size: 1.3vw;
}

.ImgBuscador{
    background-color: gold;
}