.App {
  text-align: center;
}

.AppHeader {
  background-color: black;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}
