.App{
  background-color: rgb(77, 77, 77);
  width: 100vw;
  height: auto;
}

.AppHeader , .AppMain, .AppFooter {
  text-align: center;
  max-width: 1440px;
  margin: auto;
  
}

.AppHeader ,.AppFooter{
  background-color: black;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.AppMain{
  background-color: rgb(25, 25, 25);
  padding: 5vh 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.greeting{
  width: 100vw;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  margin: auto;
  
  

}