*{
  margin: 0;
  padding: 0;
  
}

.App{
  background-color: rgb(77, 77, 77);
  max-width: 1400px;
  height: auto;
  margin: auto;
}

.AppHeader , .AppMain, .AppFooter {
  text-align: center;
  max-width: 1400px;
  margin: auto;
  
}

.AppHeader{
  background-color: black;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.AppMain{
  background-color: rgb(25, 25, 25);
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
}

.greeting{
  width: 100vw;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  margin: auto;
  
  

}
